# Settings, which are not commented out, are required!

# UID and GID MySQL and PHP run under; should generally equal the current user's $UID and $GID
DUID=1000
DGID=1000

# Host name used by Apache; should match SSL certificate
#HTTPD_HOST=www.example.com

# Which directory below /var/www should be used as DocumentRoot?
HTTPD_DIR=htdocs

MYSQL_DATABASE=dev
MYSQL_USER=dev
MYSQL_PASSWORD=dev
